<h1>Edit restaurant</h1>

<%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch do |x| %>
<%= x.label :name %>
<%= x.text_field :name %>
<%= x.label :description %>
<%= x.text_field :description %>
<br/>
<%= x.label :rating %>
  <% 5.times do |q| %>
    <%= x.label :rating, q+1 %>
    <%= x.radio_button(:rating, q+1) %>
  <% end %>
  <br/>
  <%= x.submit "Update" %>
<% end %>

<%= link_to 'Back', restaurants_path %>