<h2>Add a Restaurant</h2>

<%= form_for @restaurant do |x| %>
<%= x.label :name %>
<%= x.text_field :name %>
<%= x.label :description %>
<%= x.text_field :description %>
<br/>
<%= x.label :rating %>
<%= x.select :rating, (1..5) %>

<%= x.submit :add %>
<% end %>

<%= link_to 'Back', restaurants_path %>